## Xcode
.DS_Store
build/
DerivedData/
*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
*.xcuserstate
*.xcscmblueprint

## Swift Package Manager
.swiftpm/
.build/

## InjectionIII (dev-only tooling, excluded from Release per technical spec §1)
*.bundle
